<p>
  Add/Edit movie
</p>

<form *ngIf="formGroup" [formGroup]="formGroup">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="name">
      <mat-error *ngIf="formGroup.get('name').touched && formGroup.get('name').errors && formGroup.get('name').errors.required">
        Title required!
      </mat-error>
      <mat-error *ngIf="formGroup.get('name').touched && formGroup.get('name').errors && formGroup.get('name').errors.maxlength">
        The title can't be longer than {{formGroup.get('name').errors.maxlength.requiredLength}}. Actual length {{formGroup.get('name').errors.maxlength.actualLength}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="primary" [routerLink]='routerLink'>Cancel</button>
  </div>

  <mat-error *ngIf="errorMessage">
    {{errorMessage}}
  </mat-error>
</form>
