<h1>Movie data</h1>

<p>There are many movies I have watched over and over, but I don't remember all of them.</p>
<p>Here you can choose a movie that you would like to watch.</p>

<p *ngIf="!films"><em>Couldn't Load...</em></p>

<table class='table table-striped' *ngIf="films">
  <thead>
    <tr>
      <th>movieID</th>
      <th>Title</th>
      <th>Director</th>
      <th>Ticket price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.movieID }}</td>
      <td>{{ film.title }}</td>
      <td>{{ film.director }}</td>
      <td>{{ film.ticketPrice }}</td>
    </tr>
  </tbody>
</table>
