<h1>Hello!</h1>
<p>Welcome to my new single-page application!</p>
<p>
  Are you looking for a good movie site? Here is the top 10 movie you should refer to!
</p>
<p>
</p>
<ul>
  <li><strong>Here you can check some movies:</strong> <a href="https://localhost:44396/fetch-data" class="link button active"> Movies</a></li>
  <li><strong>And there is a list of descriptions for the corresponding movies</strong></li>
  <table>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0253474/plotsummary" class="link button active">The Pianist</a></td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0133093/plotsummary" class="link button active">Matrix</a></td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0109830/plotsummary" class="link button active">Forrest Gump</a></td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0266697/plotsummary" class="link button active">Kill Bill</a></td>
    </tr>
    <tr>
      <td><a href="https://www.imdb.com/title/tt0120338/plotsummary" class="link button active">Titanic</a></td>
    </tr>
  </table>
  <li><strong>So if you like one you can buy a ticket now for your favourite movie! </strong>Click here:<a href="https://localhost:44396/counter" class="link button active"> Tickets</a></li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
